@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

body{
  background-color: black;
  color: white;
  font-family: 'Noto Serif KR', serif;
  padding: 10% 0;
}
::selection {
  color: black;
  background: rgb(248, 220, 9);
}
a:link{
  text-decoration-line: none;
  color: royalblue;
}
a:visited{
  text-decoration-line: none;
  color: royalblue;
}
a:hover{
  text-decoration-line: none;
  color: royalblue;
}
a:active{
  text-decoration-line: none;
  color: royalblue;
}
div.row {
  display: flex;
  height: auto;
}
div.left {
  flex: 1;
  height: auto;
}
div.center {
  flex: 1;
  height: auto;
}
div.right {
  flex: 1;
  height: auto;
}
